@font-face {
    font-family: 'DDFont';
    src: url('goethebold.ttf') format('truetype');
}

.headerimg {
    position: absolute;
    left: 20%;
    top: 0;
    z-index: -1;
    width: 60%;
    height: 300px;
}

body {
    font-family: DDFont;
    background: rgb(8,4,4);
    background: linear-gradient(90deg, rgba(8,4,4,1) 0%, rgba(152,4,4,1) 10%, rgba(152,4,4,1) 33%, rgba(152,4,4,1) 67%, rgba(152,4,4,1) 90%, rgba(8,4,4,1) 100%)
}

h1 {
    text-align: center;
    padding-top: 30px;
    font-size: 50px;
}

button {
    font-size: 50px;
    color: azure;
    width: 100%;
    text-align: center;
    height: 100px;
    font-family: DDFont;
    background-color: red;
    border: none;
}


.container {
    height: 100%;
    width: 100%;
    padding: 20px;

}

.header {
    padding-top: 10px;
    text-align: center;
    font-size: 60px;
    color: azure;
}


.gems {
    padding-top: 50px;
    display: flex;flex-basis: calc(33.33% - 20px);
    justify-content: space-between;
}


.boosters {
    display: flex;flex-basis: calc(33.33% - 20px);
    justify-content: space-between;
}

article {
    border: solid 2px black; 
    height: 300px;
    width: 300px;
    background-color: azure;
}

.a {
   flex-basis: calc(33.33% - 30px + 10px);
   padding-left: 10%;
}

.a2 {
    flex-basis: calc(33.33% - 20px);
    padding-left: 10%;
 }

header {
    text-align: center;
    font-size: 50px;
}

.a section {
    text-align: center;
    padding-top: 65px;
    font-size: 45px;
}

.a2 section {
    text-align: center;
    padding-top: 65px;
    font-size: 45px;
}

.mongol {
    width: 40px;
    height: 40px;
}

video {
    display: block;
    margin: 0 auto;
}